<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    {{ style("css/contact")}}
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<div class="navbar">
        <div class="logo">Carol Cars</div>
        <div class="menu">
            <a href="/home" class="btn">Home</a>
            <a href="/promotion" class="btn">Promotion</a>
            <a href="/product"class="btn">Product</a>
            <a href="/service"class="btn">Service</a>
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        </div>
    </div>
    <div class="isready">
        <p>Carol-Cars is ready to serve you.</p>
    </div>
    
    <div class="line1">
        <p>If you have any comments or suggestions concerning Carol-Carsautomobiles or services.You can mail us to Toyota at the address provided below.</p>
    
    </div>
    <div class="line2">
        <p>Carol-Cars Thailand Co., Ltd.</p>
    </div>
    <div class="line3">
        <p> 186/8 Moo 1, Wichit, Mueang, Phuket 83000</p>
    </div>
    <div class="line4">
        <p>Customer Contact Center</p>
        <p>Telephone  (66) 9-9357-5550 24/7 </p>

    </div>
    
    <a href="https://www.facebook.com/profile.php?id=100009274689423" class="fa fa-facebook"></a>


    
</body>
</html>