@layout('layout')
@section("style-section")
    {{ style("css/login") }}
    @endsection

    @section("content")

<body>
    <div class="sign-in">Sign-in</div><br>


    <div class="username">
        Username:
        <input type="text">
    </div>


    <p>
    <div class="password">
        Password:
        <input type="password" name="pwd">
    </div>
    </p>


    <div class="button">
        <input type="submit" value="login">
    </div>
    @endsection