<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{style("css/reset")}}
    {{style("css/login")}}
</head>
<body>
    <div class="container">
        <span class="hero-text">login {{ name }}
        </span>
        @if(age >= 20)
        <h1>You are adult</h1>
        @else
        <h1>You are young</h1>
        @endif
        @each(friend in friends)
        <p>{{friend}}</p>
        @endeach
    </div>
</body>
</html>