body{
    background-color: #333333;
    }
    
    .register{
        font-size: 80px;
        color: yellow;
        text-align: center;
    }
    .box1{
        font-size: 20px;
        text-align: center;
        color: yellow;
    }
    .box2{
        font-size: 20px;
        text-align: center;
        color: yellow;
    
    }
    .box3{
        font-size: 20px;
        text-align: center;
        color: yellow;
    }
    .box4{
        font-size: 20px;
        text-align: center;
        color: yellow;
    }
    .button{
        text-align: center  ;
    }
    .ok{
    text-align: center;
    color: yellow;
    }